@main("Glass Finance Launcher") {
	<div class="page-header">
	    <h2> Launch Dashboard</h2>
	</div>
	
	<form class="form-horizontal" role="form">
		 <div class="form-group">
		 	<input type="text" class="form-control input-lg col-lg-8" id="gipMessage" placeholder="IBM EQUITY GIP <USER>" />
		 	<span class="help-block">
		 		<strong><em>&lt;USER&gt;</em></strong> denotes the user that you would like to deliver the above message to. 
		 		Note that the user needs to be registered with the application to receive the message. 
		 	</span>
		 </div>
	</form>

}
