@(user: securesocial.core.Identity)
@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import Http.Context.Implicit

@main("Glass Finance Launcher") {
<div class="page-header">
    <h2> Welcome @user.firstName!</h2>
</div>

<div class="alert alert-success">
	You have been successfully registered by the application. You will now receive updates from the application in your Glass timeline. 
</div>

@**
<div class="clearfix">
    <h2>User Details</h2>

    <ul>
        <li>User Id: @user.identityId.userId</li>
        <li>Logged in from: @user.identityId.providerId</li>
        <li>Fist name: @user.firstName</li>
        <li>Last name: @user.lastName</li>
    </ul>

    <hr>
     <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
</div>

**@
}
